.task{
    background-color: #f3f3f3;
    border-left: 5px solid hsl(0, 0%, 85%);
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;

}

.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task.reminder.urgent{
    border-left: 5px solid orangered;
}

.task.reminder.semi_urgent{
    border-left: 5px solid orange;
}
    
.task.reminder.standar{
    border-left: 5px solid yellowgreen;
}

.task.reminder.expired{
    border-left: 5px solid #471d1d;
}